@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import 'styles/base';
@import 'styles/app-loading';
@import 'styles/tippy';

@font-face {
  font-family: 'Always Together';
  src: url('/static/Always Together.otf');
  font-display: block;
}
